<%- include('partials/dashboard') -%>

<div class="ml-0-touch" style="margin-left: 320px">
    <section class="main-content columns is-fullheight is-centered">
        <div class="container column is-12">
            <div class="section">
                <div class="">
                    <!-- header -->
                    <div class="container has-background-white mb-6">
                        <p class="card-header-title">People</p>
                    </div>

                    <button class="button is-primary js-modal-trigger" data-target="modal-js-example">
                        Add a Person
                    </button>

                    <div id="modal-js-example" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Add a Person</p>
                                <button class="delete" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body">
                                <form action="/dashboard/createPerson" method="POST">
                                    <div class="field">
                                        <label for="first" class="label">First Name</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="First Name" name="first">
                                        </div>
                                    </div>
    
                                    <div class="field">
                                        <label for="last" class="label">Last Name</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Last Name" name="last">
                                        </div>
                                    </div>
    
                                    <div class="field">
                                        <label for="company" class="label">Company</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Company" name="company">
                                        </div>
                                    </div>
    
                                    <div class="field">
                                        <label for="title" class="label">Job Title</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Job Title" name="title">
                                        </div>
                                    </div>
    
                                    <div class="field">
                                        <label for="email" class="label">Email</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Email" name="email">
                                        </div>
                                    </div>
    
                                    <div class="field">
                                        <label for="phone" class="label">Phone</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Phone" name="phone">
                                        </div>
                                    </div>
    
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <button class="button is-link">Submit</button>
                                        </div>
                                    </div>
                                </form>    
                            </section>
                            <footer class="modal-card-foot">
                                
                            </footer>
                        </div>
                        <button class="modal-close is-large" aria-label="close"></button>
                    </div>
                    
                    <!-- table -->
                    <div class="container has-background-white mt-5">
                        <table class="table is-bordered is-narrow is-fullwidth is-hoverable">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Company</th>
                                    <th>Title</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i = 0; i < people.length; i++) { %>
                                    <tr>
                                        <td> <%= people[i].firstName %> </td>
                                        <td> <%= people[i].lastName %> </td>
                                        <td> <%= people[i].company %> </td>
                                        <td> <%= people[i].jobTitle %> </td>
                                        <td> <%= people[i].email %> </td>
                                        <td> <%= people[i].phone %> </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include('partials/footer') -%>