<%- include('partials/dashboard') -%>

<div class="ml-0-touch" style="margin-left: 250px">
    <section class="main-content columns is-fullheight is-centered">
        <div class="container column is-full">
            <div class="section">
                <div class="">
                    <!-- header -->
                    <div class="container has-background-white mb-6">
                        <p class="card-header-title">Tickets</p>
                    </div>

                    <button class="button is-primary js-modal-trigger" data-target="modal-js-example">
                        Add a Ticket
                    </button>

                    <div id="modal-js-example" class="modal" style="margin-left: 250px">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Add a Ticket</p>
                                <button class="delete" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body">
                                <form action="/dashboard/createTicket" method="POST">
                                    <div class="field">
                                        <label for="company" class="label">Company</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Company" name="company">
                                        </div>
                                    </div>
    
                                    <div class="field">
                                        <label for="date" class="label">Date</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Date" name="date">
                                        </div>
                                    </div>
    
                                    <div class="field">
                                        <label for="status" class="label">Status</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Open / Scheduled / Complete" name="status">
                                        </div>
                                    </div>
    
                                    <div class="field">
                                        <label for="region" class="label">Region</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Region" name="region">
                                        </div>
                                    </div>
    
                                    <div class="field">
                                        <label for="notes" class="label">Notes</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Notes" name="notes">
                                        </div>
                                    </div>
    
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <button class="button is-link">Submit</button>
                                        </div>
                                    </div>
                                </form>    
                            </section>
                            <footer class="modal-card-foot">
                                
                            </footer>
                        </div>
                        <button class="modal-close is-large" aria-label="close"></button>
                    </div>
                    
                    <!-- table -->
                    <div class="container has-background-white mt-5">
                        <table class="table is-bordered is-narrow is-fullwidth is-hoverable">
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Region</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i = 0; i < tickets.length; i++) { %>
                                    <tr>
                                        <td> <%= tickets[i].company %> </td>
                                        <td> <%= tickets[i].date %> </td>
                                        <td> <%= tickets[i].status %> </td>
                                        <td> <%= tickets[i].region %> </td>
                                        <td> <%= tickets[i].notes %> </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include('partials/footer') -%>